<h1> Rob's "Josh's draft" site </h1>
<h2> PAX MAGNFICA BELLUM GLORIOSUM </h2>

<% if @user_drafts %>
  <% @user_drafts.each do |draft| %>
    <p><%= draft.title %></p>
    <p><%= draft.body %></p>
  <% end %>
<% end %>
<a href="/drafts"> Drafts </a><br/>
<a href="/drafts/new"> New Draft </a>
